<!-- Intro -->
   <!--Carousel Wrapper-->
    <div id="carousel-example-3" class="carousel slide carousel-fade white-text" data-ride="carousel" data-interval="false">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-3" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-3" data-slide-to="1"></li>
            <li data-target="#carousel-example-3" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div> tus miertos </div>
            <!-- First slide -->
            <div class="carousel-item active view hm-black-light" style="background-image:url('{{ asset('img/slider-1.jpg') }}'); background-repeat: no-repeat; background-size: cover;">

                <!-- Caption -->
                <div class="full-bg-img flex-center white-text">
                    <ul>
                        <li>
                            <h1 class="h1-responsive flex-item">Ahorra cocinando</h1>
                        </li>
                        <li>
                            <p class="flex-item">Con Click'nd Eat podrás compartir los gastos de tu comida y sobre todo disfrutar cocinando</p>
                        </li>
                        <li>
                            <a href="{{  path('add_publicacion') }}"  class="btn btn-outline-white btn-lg flex-item">Crea tu publicacion</a>
                        </li>
                    </ul>
                </div>
                <!-- /.Caption -->

            </div>
            <!-- /.First slide -->

            <!-- Second slide -->
            <div class="carousel-item view hm-black-light" style="background-image:url('{{ asset('img/slider-2.jpg') }}'); background-repeat: no-repeat; background-size: cover;">

                <!-- Caption -->
                <div class="full-bg-img flex-center white-text">
                    <ul>
                        <li>
                            <h1 class="h1-responsive flex-item">No solo es una aplicacion de comidas</h1>
                        </li>
                        <li>
                            <p class="flex-item">
                                Con Click'nd Eat no solo saciarás tu hambre, sino que podrás conocer
                                gente nueva y vivir maravillosas experiencias
                            </p>
                        </li>
                        <!--<li>
                            <a href="#" class="btn btn-outline-white btn-lg flex-item">Start Shopping</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-outline-white btn-lg flex-item">Learn more</a>
                        </li>-->
                    </ul>
                </div>
                <!-- /.Caption -->

            </div>
            <!-- /.Second slide -->

            <!-- Third slide -->
            <!--<div class="carousel-item view hm-black-light" style="background-image:url('{{ asset('img/slider-3.jpg') }}'); background-repeat: no-repeat; background-size: cover;">

                <!-- Caption -->
                <!--<div class="full-bg-img flex-center white-text">
                    <ul>
                        <li>
                            <h1 class="h1-responsive flex-item">Get 20% off</h1>
                        </li>
                        <li>
                            <p class="flex-item">On selected items</p>
                        </li>
                        <li>
                            <a href="#" class="btn btn-outline-white btn-lg flex-item">Shop now</a>
                        </li>
                    </ul>
                </div>
                <!-- /.Caption -->

            <!--</div>-->
            <!-- /.Third slide -->
            
        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
   
    <!-- /.Intro -->